/* css/componentes/background.css */

body {
    background-color: var(--av-bg-color);
    /* verde base */
    background-image: url("/img/branding/fondo-de-portada.png");
    background-repeat: repeat;
    background-size: 1000px auto;
    /* más grande para que no se repita tanto */
    background-attachment: fixed;
}

@media (max-width: 768px) {
    body {
        background-size: 500px auto;
    }
}