/* ================================
   ICONOS DE PRODUCTOS CATEGORÍA
================================ */

.iconos-productos {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #f8f8f8;
}

.grid-iconos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
    padding-top: 1rem;
}
/*===========================*/
/**/
.icono {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--av-bg);
    font-weight: 500;
    transition: transform 0.3s ease;
}

.icono img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 0.5rem;
    transition: transform 0.3s ease;
}

.icono:hover {
    transform: translateY(-5px);
}

.icono:hover img {
    transform: scale(1.05);
}

.icono p {
    font-size: 1rem;
    margin: 0;
}

/* === RESPONSIVE === */
@media (max-width: 1023px) {
    .grid-iconos {
        grid-template-columns: repeat(2, 1fr);
    }

    .icono img {
        width: 90px;
        height: 90px;
    }

    .icono p {
        font-size: 0.95rem;
    }
}

@media (max-width: 600px) {
    .grid-iconos {
        grid-template-columns: 1fr;
    }

    .icono img {
        width: 80px;
        height: 80px;
    }

    .icono p {
        font-size: 0.9rem;
    } }