/* Variables personalizadas de color */
:root {
    --av-bg-color: #0a3a41;
    /* fondo verde claro */
    --av-header-color: #0b292b;
    /* encabezado verde oscuro */
    --av-accent: #ea4b06;
    /* color secundario (branding.pdf) */
    --text-color: #ffffff;
    --font-main: 'Montserrat', sans-serif;
}